:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: center;
}

a {
  font-weight: 500;
  color: rgb(97, 48, 44);
  text-decoration: inherit;
  margin: 0.5em;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  height: 100vh;
}

.navbar h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin:  2% 30%;
  color: rgb(255, 196, 8);
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:rgba(212, 214, 232, 0.619);
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgb(187, 111, 104);
  z-index: 50;
  margin: 0.5em;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo{
  height:7em;
}

.kanban {
  display: flex;
  justify-content:space-around;
  min-height: 36em;
  width: 100%;
}

.task, .taskDetails {
  background-color: rgba(255, 255, 255, 0.87);
  border: 1px solid black;
  border-radius: 20px;
  margin: 2rem;
  z-index: 10;
}

.task p, .taskDetails p {
  color: rgb(27, 133, 194);
  padding: 0.5em;
}

.task h3, .taskDetails h3, h2 {
  color: rgb(27, 133, 194);
  font-weight: bold;
}

.homeDiv {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: rgb(27, 133, 194);
}

.listColumn {
  background-color: rgb(212, 214, 232);
  border-radius: 35px;
  margin: 10px;
  min-width: 30%;

}

.taskDetails {
  width: 50%;
  margin: 10em 20em;
}

.listColumn h1 {
  color: rgb(27, 133, 194);
}

#plusSign{
  width: 2rem;
  height: 2rem;
}
.SidebarComponent{
  padding: 1rem;
  background-color: rgb(192, 151, 164);
  display: flex;
  flex-direction: column;
}

.footer{
  width: 100%;
  position:fixed;
  bottom:0;
  left: 0;
  background-color: lightblue;
}


.High{
  background-color: rgb(243, 135, 126);
}
.Medium{
  background-color: rgba(255, 197, 8, 0.626);
}
.Low{
  background-color: rgb(52, 203, 160);
}

.search{
  margin: 1.5rem 0;
}
.appjsx{
  display: flex;
  flex-direction: column;
}

.about{

  height: 80vh;

}
.about header , .about section{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  background-color: rgb(212, 214, 232);
  border-radius: 35px;
 margin: 0 20%;
}
.about p{
  width: 40%;
}